name: CI Pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ci:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: codebase/rdicidr-0.1.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js 15
        uses: actions/setup-node@v4
        with:
          node-version: '15.14.0'

      - name: Force npm 7
        run: |
          npm install -g npm@7
          npm --version
          node --version

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      - name: Run Tests
        run: CI=true npm run test

      - name: Build Application
        run: npm run build
